.footer{
  background-color: $color_black;
  border-top: 1px solid $color_white;
}

.footer__navigation {
  margin: 50px 0;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  .navigation__links{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .logo{
    @media (max-width: 500px){
      width: 20.4vw;
      height: auto;
      .svg-logo{
        width: 100%;
      }
    } 
    @media (max-width: 425px){
      flex: 0 1 33%;
    } 
  }
  @media (max-width: 870px){
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw 10vw;
  } 
}

.footer-paragraph{
  color: $color_white;
}
.footer-links,
.partners {
  @include nav-text;
}



.footer__phone,
.footer__contacts,
.partners {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 425px){
    gap: 15px;
  } 
}

.footer__contacts {}

.footer__rigths {
  text-align: center;
  margin: 0 0 20px 0;
}
