.header {
 
}


.burger__icon {}

.theme-btn {}

.header__wrap {
  margin: $main_margin;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {}

.navigation__links {
  display: flex;
  gap: 40px;
}
.navigation__links-link a{
  position: relative;
}
.navigation__links-link a:before{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: $color_yellow;
  transition: all 0.3s;
}
.navigation__links-link a:hover:before{
  width: 100%;
}
.navigation__links-link a,
.phone a{
  @include nav-text;
  transition: all 0.3s ease;
}
.navigation__links-link a:hover,
.phone a:hover{
  color: $color_yellow;
}

.phone {
  display: flex;
  gap: 40px;
}
.logo{
  position: relative;
}
.logo:before,
.logo:after{
  content:"";
  position: absolute;
  top: 5px;
  left: 125px;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: $color_yellow;
  opacity: .7;
  box-shadow: 0 0 11px 0 $color_yellow , 0 0 3px 1px $color_black inset;
}
.logo:hover:before{
  animation: smoke 3s ease infinite;
}
.logo:hover:after{
  animation: smoke 3s ease infinite;
  animation-delay: 1s;
}
@keyframes smoke {
  0%{
    top: 5px;
    left: 125px;
    width: 5px;
    height: 3px;
  }
  100%{
    top: -5px;
    left: 135px;
    width: 13px;
    height: 8px;
    
  }
}