
.header__wrap {
  margin: $main_margin 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.navigation {
  display: flex;
  position: relative;
  transition: all 0.3s ease;
  @media (max-width: 768px){
    position: absolute;
    left: 0;
    top: 0;
    background-color: $color_black;
    width: 60%;
    height: 100vh;
    z-index: 3;
    border-right: 1px solid $color_yellow;
    justify-content: center;
    transform: translateX(-201%);
  }
  @media (max-width: 425px){
    width: 100%;
    border: none;
  }
}
.navigation.lights{
  background-color: $color_white;
  @media (max-width: 768px){
    border-right: 1px solid $color_black;
  }
}
.navigation:before{
  @media (max-width: 768px){
    content: "";
    position: absolute;
    right: -66.7%;
    top: 0;
    width: 66.7%;
    height: 100%;
    background: rgba(255, 255, 255, 0.062);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
  }
  @media (max-width: 425px){
    display: none;
    
  }
}
.navigation.active{
  transform: translateX(0%);
}
.navigation__links {
  display: flex;
  gap: 40px;
  @media (max-width:820px) {
    gap: 20px;
  }
  @media (max-width: 768px){
    flex-direction: column;
    margin: 100px 0 0 0;
    gap: 40px;
    
  }
}
.navigation__links-link a{
  position: relative;
}
.navigation__links-link a:before{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: $color_yellow;
  transition: all 0.3s;
}
.navigation__links-link a:hover:before{
  width: 100%;
}
.navigation__links-link a,
.phone a{
  @include nav-text;
 
}


.phone {
  display: flex;
  gap: 40px;
}
.phone .links{
  @include adaptiv-font(18,15,23,20);
}
.logo{
  display: flex;
  position: relative;
  @media (max-width: 425px){
    flex: 1 1 150px;
  }
}
.svg-logo{
  @media (max-width: 500px){
    width: 70%;
  }
}
.logo:before,
.logo:after{
  content:"";
  position: absolute;
  top: 5px;
  left: 125px;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: $color_yellow;
  opacity: .7;
  box-shadow: 0 0 11px 0 $color_yellow , 0 0 3px 1px $color_black inset;
  @media (max-width: 768px){
    display: none;
  }
}
.logo:hover:before{
  animation: smoke 3s ease infinite;
}
.logo:hover:after{
  animation: smoke 3s ease infinite;
  animation-delay: 1s;
}
@keyframes smoke {
  0%{
    top: 5px;
    left: 125px;
    width: 5px;
    height: 3px;
  }
  100%{
    top: -5px;
    left: 135px;
    width: 13px;
    height: 8px;
    
  }
}
.phone{
  @media (max-width:1100px) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
